<html>
    <head>
        <title> CSV 게시판</title>
    </head>
    <body>
        <a href='/new'><h1> 게시물 등록 </h1></a>
        <a href='/boards'><h1> 전 체 목 록 </h1></a>
        <br>
        <br>
        <a href='/user/new'><h1> 사용자 등록</h1></a>
        <a href='/users'><h1> 사용자 목록 </h1></a>
    </body>
</html>
