<form action="/user/create" method="POST">
    ID       : <input type="text" name="id" placeholder="ID">
    Password : <input type="password" name="password" placeholder="password">
    Password : <input type="password" name="password_confirmation" placeholder="password">
<!-- value="여기"   => 여기 값을 쓰면 입력창에 그 값이 그대로 올라감.-->
    <input type="submit" value="사용자등록">
</form>